<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <title>ENGIE s'engage dans l'alternance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" ">
    <meta property="og:title" content=" ">
    <meta property="og:image" content=" ">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta property="og:description" content="">
    <link rel="stylesheet" type="text/css" href=""/>
    <link rel="stylesheet" type="text/css" href=""/>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" href=""/>
    <link rel="stylesheet" type="text/css" href=""/>
    <script src=""></script>
    <link href="" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160636757-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160636757-1');
    </script>

    
  </head>

  <body>
    <!-- Header -->
    <header id="masthead">
      <nav class="navbar navbar-expand-lg" id="mainNav">
        <div class="wrapper">
          <a class="navbar-brand" href="http://www.sante.mr/"><img  class="logo-nav" src="" /></a>
       <!--    <div class="rim-navbar-collapse">
          </div> -->
        </div>
      </nav>
      <div class="content__container">
        <div class="content">
          <div class="intro-top__text">

          </div>
          <div class="intro-bottom__text">

          </div>
        </div>
        <div class="scroll" id="scroll">
          <div class="logo"></div>
        </div>
      </div>
    </header>


    <section id="stats">
      <div class="illustration">
        <div class="text">
          xxxxx
        </div>
      </div>
      <div class="classement">
        <div class="title">
        xxxxxx
        </div>
        <div class="divider">
        </div>
        <div class="items">
          <div class="item"> <div class="logo"></div> xxxxx</div>
          <div class="item"> <div class="logo"></div> xxxxxx</div>
          <div class="item"> <div class="logo"></div> xxxx</div>
        </div>
      </div>
      <div class="carte">
        <div class="cards">
          <div class="card-left">
            <div class="card">
              <div class="card-content">
                <span class="line1">xxxxxxxxxxxxxx</span>
                xxxxxxxxxxxxxx<span class="line2">xxxxxxxxxxxxxxxxx </span>
                xxxxxxxxxx <br> xxxxxxxxxxxxxxxx <br>
                <span></span>
              </div>
            </div>
          </div>
          <div class="card-right">
            <div class="card">
              <div class="card-content">
                <span class="line1">xxxxxxxxxxxxx</span>
                xxxxxxxxxxxxxxx <span class="line2">xxxxxxxxxxxx</span> <br>xxxxxxxxxxxxxxxx
              </div>
            </div>
           
          </div>
        </div>
        <div class="cards-footer">
           <div class="details">
              xxxxxxxxxxxx<span>xxxxxxxxxxxxxxx</span>
            </div>
        </div>
      </div>


    
    <footer id="footer">
      <div class="footer__container">
        <div class="social">
          <a href=" " target="blank">
            <div class="in"></div>
          </a>
          <a href="" target="blank">
            <div class="twitter"></div>
          </a>
          <a href="" target="blank">
            <div class="un"></div>
          </a>
          <a href="" target="blank">
            <div class="fb"></div>
          </a>
          <a href="xxxxx" target="blank">
            <div class="insta"></div>
          </a>
        </div>
        <div>
         <a class="legal" href="xxxxxxxxxxxxxxx" target="blank">mention légales</a>
        </div>
        <div class="bar"></div>
        <a href="https://www.engie.com/" target="blank">
          <div class="logo-engie"></div>
        </a>
      </div>
    </footer>
    <script src="xxxxxxxxxxx"></script>
    <script src="xxxxxxxx"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </body>

</html>